<div>
	<p>
		Gosta de muitas linguagens? Está estudando as linguagens funcionais
		antigas que influenciam muitas de hoje em dia? Basta você tuitar com
		uma hashtag da linguagem, ou ainda com #progpoliglota, que sua
		mensagem aparecerá aqui.
	</p>
	<p>
		As mensagens mais retuitadas e os usuários mais retuitados também
		ganham destaque no site.
	</p>
	<p>
		Você também pode apoior linkando o site em seu blog e comitando no
		projeto no <a target="_blank" href="https://github.com/caelum/programadorpoliglota">github</a>.
	</p>
</div>