	<ul class="newsLang">
	<% @tweets.each do |t| %>					
		<%= render :partial=>'tweet_information', :locals=>{:tweet => t} %>	
	<% end %>
	</ul>
  <div class='bloco_ver_mais'> 
	  <%if @has_more_pages%>
		  <%= next_page_link(@page, @tag_group) %>
	  <% end %>
	  <% if @page >= 2 %>
		  <%= previous_page_link(@page, @tag_group) %>
    <% end%>
 </div>