<div>
	<p>
		A idéia do movimento não é original: há muito tempo tem se discutido
		a importância do conhecimento de mais de uma plataforma/linguagem,
		além da inevitabilidade do seu sistema acabar por ser heterogêneo.
		Neal Ford foi um dos primeiros a escrever sobre isso:
		http://memeagora.blogspot.com/2006/12/polyglot-programming.html
	</p>
	<p>
		A idéia do site surgiu dentro da Caelum, para que pudessemos
		acompanhar o que a counidade brasileira está estudando e conversando a
		respeito.
	</p>
	<p>
		O início da implementação do site é de Adriano Almeida e Lucas Souza,
		com design do Tiago Allen. Pull requests no github são mais que bem
		vindos."
	</p>
	<p>
		Tambem era legal no rodape ter alguns links: agendatech e tectura.
		outra sugestao? (da caelum por eqto acho melhor nao)
	</p>
</div>