<div id="supportPP">
	<h2>Sobre o movimento</h2>
	<p>
		A idéia do movimento não é original: há muito tempo tem se discutido
		a importância do conhecimento de mais de uma plataforma/linguagem,
		além da inevitabilidade do seu sistema acabar por ser heterogêneo.
		Neal Ford foi um dos primeiros a escrever sobre isso:
		http://memeagora.blogspot.com/2006/12/polyglot-programming.html
	</p>
	<p>
		A idéia do site surgiu dentro da Caelum, para que pudessemos
		acompanhar o que a comunidade brasileira está estudando e conversando a
		respeito.
	</p>
	<p>
		O início da implementação do site é de <a target="_blank" href="http://www.twitter.com/adrianoalmeida7">Adriano Almeida</a> e <a  target="_blank" href="http://www.twitter.com/lucasas">Lucas Souza</a>,
		com design do Tiago Allen. Pull requests no <a target="_blank" href="https://github.com/caelum/programadorpoliglota">github</a>. são mais que bem vindos.
	</p>
	<br/>
	<h2>Apoie o movimento</h2>
	<p>
		Gosta de muitas linguagens? Está estudando as linguagens funcionais antigas que influenciam muitas de hoje em dia?
	</p>
	<p>
		Basta você twitar com uma hashtag da linguagem, ou ainda com #progpoliglota, que sua mensagem aparecerá aqui.
	</p>
	<p>
		As mensagens mais retwitadas e os usuários mais retwitados também ganham destaque no site.
	</p>
	<p>
		Você também pode apoiar o movimento linkando o site em seu blog e comitando no projeto no <a target="_blank" href="https://github.com/caelum/programadorpoliglota">github</a>.
	</p>
	<br/>
	<h3>Coloque o banner do movimento em seu site ou blog</h3>
    <p>
      <a href="http://www.programadorpoliglota.com.br">
        <%= image_tag('programador-poliglota-120x60.gif', :alt=>'Eu apoio esta campanha', :width=>120, :height=>60) %>
	    </a>
	</p>
    <pre>
&lt;a href=&quot;http://www.programadorpoliglota.com.br&quot;&gt;
&lt;img height=&quot;60&quot; width=&quot;120&quot; 
src=&quot;<%= root_url%>images/programador-poliglota-120x60.gif&quot; 
alt=&quot;Eu apoio esta campanha&quot; /&gt;&lt;/a&gt;
    </pre>
	<p>
	    <a href="http://www.programadorpoliglota.com.br">
        <%= image_tag('programador-poliglota-120x60-team.gif', :alt=>'Minha empresa apoia esta campanha', :width=>120, :height=>60) %>
	    </a>
	</p>
    <pre>
&lt;a href=&quot;http://www.programadorpoliglota.com.br&quot;&gt;
&lt;img height=&quot;60&quot; width=&quot;120&quot; 
src=&quot;<%= root_url%>images/programador-poliglota-120x60-team.gif&quot; 
alt=&quot;Minha empresa apoia esta campanha&quot; /&gt;&lt;/a&gt;
    </pre>
</div>